*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  text-decoration: none;
}

header{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: bottom; /* 背景画像を中央に配置 */
  background-position-x: center;
    background-position-y: bottom;
}

header .heading{
  padding-top: 20px;
  padding-left: 20px;
}

main{
  width: 840px;
  margin: 50px auto;
}

.menu-box{
  padding-bottom:30px;
  border-bottom: 0.5px solid #858484;
}
.menu-image1{
  margin-top: 30px;
}

